.btn-danger {
	margin-left: 5px;
}

.customCol {
	margin: 0 auto;
	padding-bottom: 20px;
	margin-top:  10px;
	text-decoration: underline;
}

h4, p {
	text-align: center;
}

.buttons{
	margin-top: 20px;
	margin-left: 37%;
}

td:hover {
	cursor: pointer;
}

